@charset "UTF-8"

    ;body {
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

    h1{
        color: rgb(56, 0, 161);
        background-color: #ff8c00;
        text-align: center;
        text-decoration: black underline;
}

    h2{
        color: orangered;
    }

    p{
        text-align:justify;
    }