@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #8B3DD9,#030A8C, #F2CB05, #F27405);
}

main{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 15px #030A8C;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #030A8C;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(250, 130, 144, 0.616);
    text 
}
h2{
    color: #F27405;
}
p{
    text-align: justify;
}
